h1 {
  color: #e09;
}

p {
  font-size: 24px;
  color: #e09;
}

.background {
  padding: 500px;
  margin: -350px;
  background-color: #1C8EF9;
  color: #333;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.profilepic {
  width: 300px;
  position: relative;

}

.title {
  font-size: 24px;
  color: #ffffff;
}

.profilebanner {
  margin-left: -300px;
}

.profileinfo {
  margin-left: 5px;
}

.friendbanner {
  margin-top: -420px;
}

.friendProfile1 {
  margin-left: 200px;

}

.friendProfile2 {
  margin-top: 50px;
  margin-left: 200px;
}
