h1 {
  color: #e09;
}

p {
  font-size: 20px;
  color: rgb(58, 56, 57);
}

.background {
  padding: 500px;
  margin: -350px;
  background-color: #1C8EF9;
  color: #333;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 32px;
  text-align: center;
}

.profilepic {
  width: 350px;
  position: relative;

}

.profilebanner {
  margin-left: -400px;
}

.profileinfo {
  margin-left: 30px;
  margin-top: 10px;
  box-shadow: 10px px 10px red;
}

.friendbanner {
  margin-top: -420px;
  position: static;
}

.friendProfile1 {
  margin-left: 200px;

}

.friendProfile2 {
  margin-top: 50px;
  margin-left: 200px;
}
